language: php

matrix:
  include:
    - php: 5.6
    - php: 7.0

before_script:
  - composer self-update
  - composer install --prefer-source --no-interaction --dev

script:
  - composer sniff
  - composer test
